.Main{
    margin-top: 1%;
    background-color: rgb(207, 206, 206);
    border-radius: 10px;
    height: 86vh;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    width: 130vh;
  }

.container{
  display: flex;
  flex-direction: row;
}
