.background {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
  background-image: url('../login/login-pictures/bg3-01.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Orbitron', sans-serif;
}

.background .userContainer {
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar h2 {
  margin-top: 22px;
  margin-bottom: 5px;
}


.input {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input .username {
  margin-top: 25px;


}

.input .email {
  margin-top: 35px;
}

.input .email {
  margin-top: 35px;
}

.input .newPassword {
  margin-top: 35px;
}

.input .confirmNewPassword {
  margin-top: 35px;
  margin-bottom: 45px;
}

.input .oldPassword {
  margin-top: 7px;
  margin-bottom: 35px;
}

.under {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logInBtn {
  margin-bottom: 20px;
}

.linkToReg {
  margin-top: 40px;
}

.psw {
  margin-bottom: 2px;
}

p {
  color: rgb(0, 0, 0);
  font-size: x-large;
}

h2 {
  color: rgb(0, 0, 0);
}

h3 {
  margin-bottom: 35px;
}


.paperstyle {
  color: rgba(16, 38, 13, 0.576);
}