.Menu{
  align-items: center;
}

.section{
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
}

.section img{
  padding: 5px;
  margin: 10px;
  width: 30px;
  align-items: center;
  align-self: center;
}


.section img:hover{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
