*{
  margin: 0;
  padding: 0;
}

.buildingsContainer{
  margin: 20px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 30px;
  max-width: fit-content;
  max-height: fit-content;
}

.buildingList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buildingTitle {
  display: flex;
  justify-content: center;
}

.buildingLevel{
  display: flex;
  justify-content: center;
}

li{
  list-style: none;
}

img{
  padding: 10px;
  margin: 10px;
  width: 100px;
}