* {
  margin: 0;
  padding: 0;
}

.buildingsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-image: url("./buildings-pictures/bg2-01.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.buildingList {
  display: grid;
  background-color: rgba(133, 109, 38, 0.245);
  grid-template-columns: 1 1 1;
  margin-top: 80px;
  border-radius: 5px;
}

.oneBuilding {
  background: rgba(128, 128, 128, 0.27);
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buildingTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.buildingLevel {
  display: flex;
  justify-content: center;
}

.mineralCost {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

img {
  padding: 10px;
  margin: 10px;
  width: 100px;
}

p {
  color: white;
}

h4 {
  color: white;
}

.buildingHeader {
  height: 70px;
  background-color: #009687;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navigation {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-left: 55%;
  margin-top: 1%;
  color: white;
}

h3 {
  margin: 10px;
  cursor: pointer;
}
