*{
  padding: 0;
  margin: 0;
  top: 0;
}

.header{
  height: 70px;
  background-color: #009687;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logo{
  margin-top: 1%;
  margin-left: 5%;
  width: 50%;
}

.header .kingdomName{
  color: white;
  float: left;
}

.header .navigation{
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-left: 55%;
  margin-top: 1%;
  color: white;
}

.header h3{
  margin: 10px;
  cursor: pointer;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}