* {
  padding: 0;
  margin: 0;
  top: 0;
}

.header{
  height: 50px;
  background-color: #016e63;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logo{
  margin-left: 5%;
  width: 50%;
}

.header .kingdomName {
  color: white;
  float: left;
  font-size: 25px;
  align-items: center;
  align-content: center;
  margin-top: 3%;
  display: flex;
}

.header .navigation {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-left: 55%;
  color: white;
  align-items: center;
}

.header h3 {
  margin: 10px;
  cursor: pointer;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
.navigation img{
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-bottom: 0;
  border-radius: 100%;
  padding: 5px;
  align-items: center;
  align-self: center;
  align-content: center;
  background-image: url("../../../../docs/background/bg3-01.png");
}

